.footer{
    /* margin-top: 100px; */
    background-color: #eaeaea;
}
.top_footer{
    height: 100px;
    border-bottom: 1px solid #ccc;
}
.top_footer ul{
    display: flex;
}
.top_footer li{
    flex: 1;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
.top_footer b{
    width: 36px;
    height: 42px;
    line-height: 42px;
    display: block;
    /* background: url("../image/ico_service.png") no-repeat; */
    position: absolute;
    top: 30px;
    left: 25px;
    text-indent: -2000em;
}
.top_footer .fast {
    background-position: 0px -42px;
}
.top_footer .good {
    background-position: 0px -85px;
}
.top_footer .save {
    background-position: 0px bottom;
}
.middle_footer {
    height: 220px;
    border-bottom: 1px solid #ccc;
}
.middle_footer dl {
    float: left;
    width: 198px;
    margin-top: 28px;
}
.middle_footer dt {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}
.middle_footer dd {
    height: 25px;
    font-size: 13px;
}

.middle_footer .last-dl {
    height: 147px;
    /* background: url("../image/ico_footer.png") no-repeat; */
}

.middle_footer .last-dl dt {
    text-align: center;
}

.middle_footer .last-dl p {
    padding: 0 5px;
    line-height: 20px;
}

.middle_footer .last-dl a {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.bottom_footer {
    height: 300px;
    padding-top: 10px;
    text-align: center;
}
.bottom_footer p{
    font-size: 13px;
}
.bottom_footer span {
    margin: 0 10px;
}
.bottom_footer .public {
    margin-top: 10px;
}
.bottom_footer .public span{
    margin: 0 8px;
}
.bottom_footer img{
    width: 845px;
    height: 35px;
    margin-top: 50px;
}
